/*GENERAL*/

:root {
  --main-color: #efdeca;
  --dark-main-color: #835343;
  --white-color: #f5f3ef;
  --second-color: #6a803e
}

@font-face {
  font-family: DiplomataSC;
  src: url("../fonts/DiplomataSC.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf")
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: OpenSans;
  color: var(--dark-main-color);
  background-color: var(--white-color);
}

main {
  flex-grow: 1
}

/*NAVBAR*/

.navbar--nav {
  background-color: var(--main-color);
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: DiplomataSC;
  position: relative;
}

.navbar--hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navbar--hamburger-span {
  display: block;
  height: 2px;
  background-color: var(--dark-main-color);
  width: 90%
}

.navbar--image {
  filter: invert(30%) sepia(38%) saturate(595%) hue-rotate(329deg) brightness(102%) contrast(84%);
  width: 30px
}

.navbar--title-link {
  color: var(--dark-main-color);
  text-decoration: none;
  font-size: 14px
}

.navbar--ul {
  background-color: var(--dark-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
  left: -100%;
  transition: left 0.5s ease-in-out
}

.navbar--ul-show {
  left: 0;
}

.navbar--li {
  padding: 15px
}

.navbar--link {
  color: var(--white-color);
  text-decoration: none
}

@media screen and (min-width:1300px) {
  .navbar--hamburger {
    display: none;
  }
  .navbar--ul {
    position: relative;
    flex-direction: row;
    background-color: transparent;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar--title {
    font-size: 18px;
  }
  .navbar--image {
    order: 3
  }
  .navbar--li {
    list-style: none;
    padding: 0 10px;
  }
  .navbar--link {
    color: var(--dark-main-color);
    font-size: 14px
  }
}

/*FOOTER*/

.footer {
  padding: 10px;
  background-color: var(--main-color);
  text-align: center;
}

.footer--title {
  font-family: DiplomataSC;
  font-size: 14px;
  padding-bottom: 3px
}

.footer--text {
  font-weight: bold;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 15px;
  }

  .footer--title {
    font-family: DiplomataSC;
    font-size: 16px;
  }

  .footer--text {
    font-weight: bold;
    font-size: 12px;
  }
}
